/* Estilo da seção geral */
#Escolhas {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabela th, .tabela td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabela th {
    background-color: #17a2b8;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.tabela tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s;
}

.tabela td {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    font-size: 14px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ff5c5c;
    font-size: 16px;
    transition: color 0.3s;
}

.delete-btn:hover {
    color: #ff1a1a;
}

.delete-btn i {
    pointer-events: none;
}

@media (max-width: 768px) {
    #Escolhas {
        padding: 10px;
    }

    .tabela th, .tabela td {
        padding: 10px;
    }
}

.search-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo dos inputs */
.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Placeholder em itálico */
.search-container input::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Efeito ao focar no input */
.search-container input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Responsividade */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }

    .search-container input {
        margin-bottom: 10px;
    }
}

.export-container button {
    background-color: #4caf82;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: ease 0.6s;
    margin: 5px auto;
    font-weight: bold;
    border-radius: 7px;
    padding: 7px;
}
.export-container button:hover {
    background-color: #2f7656;
}