/* Estilos principais da sidebar */
.sidebar {
  background-color: #343a40;
  color: white;
  width: 250px;
  padding: 20px;
  height: 600px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 5px;
}

.menu-button {
  display: flex;
  align-items: center;
  background-color: #495057;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 16px;
}

.menu-button:hover {
  background-color: #17a2b8;
}

.menu-button i {
  margin-right: 10px;
}

.menu-text {
  display: inline-block;
  transition: opacity 0.3s ease;
}

/* Botão para expandir/retrair */

.toggle-button {
  background-color: #343a40;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.toggle-button i {
  transition: transform 0.3s ease;
}

/* Sidebar retraída (somente ícones) */
.sidebar.retracted {
  width: 80px;
}

.sidebar.retracted .menu-text {
  opacity: 0;
  display: none;
}

.sidebar.retracted .menu-button i {
  margin-right: 0;
}



.sidebar.retracted .toggle-button i {
  transform: rotate(180deg); /* Inverte a seta */
}


.content {
  padding: 20px;
  width: 70%;
  background-color: #c0c0c055;
  border-radius: 5px;
  height: 600px;
  overflow-y: auto;
  margin-left: 20px;
}

.sidebar.retracted + .content {
  width: 100%;
}

.gestor-main {
  display: flex;
  width: 90%;
  margin: 50px auto;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.aviso {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 16px;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  color: #a94442;
  display: flex;
  align-items: center;
  gap: 10px;
}
.aviso .icon {
  font-size: 24px;
}
.aviso p {
  margin: 0;
  font-size: 16px;
}

.hamburger-menu{
  display: none;
}

@media (max-width: 768px) {
  .gestor-main {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .toggle-button {
    display: none;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
    display: none;
  }

  .sidebar.show {
    display: flex; 
  }

  .menu-button {
    justify-content: center;
    width: 100%;
  }

  .content {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .hamburger-menu {
    background-color: #495057;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger-menu i {
    margin-right: 10px;
  }
}

