.status-title {
    font-size: 1.8rem;
    color: #495057;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;
}

.status-form{
    text-align: center;
}

.btn-status {
    width: 280px;
    height: 50px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #949494;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
} 

.btn-status:hover {
    opacity: 0.9;
}

.btn-status i {
    margin-right: 10px;
}

.status-messages {
    margin-top: 30px;
}

.status-message {
    font-size: 1.1rem;
    padding: 12px;
    border-radius: 8px;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-message span{
    margin-left: 5px; 
}

.liberado {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.bloqueado {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.status-message i {
    margin-right: 10px;
}