@import url(componentes/login.css);
@import url(componentes/PopUp.css);
@import url(componentes/header.css);
@import url(componentes/home.css);
@import url(componentes/eletiva.css);
@import url(componentes/gestor/addEletiva.css);
@import url(componentes/gestor/gestor.css);
@import url(componentes/gestor/Escolhas.css);
@import url(componentes/gestor/status.css);
@import url(componentes/gestor/main.css);

body {
  height: 100%;
  background-color: rgb(216, 216, 216);
}
 
.destacado{
  font-weight: bold;
  text-decoration: underline;
}

.hide{
  display: none;
}

footer a{
  font-weight: bold;
  color: white;
  margin-left: 5px;
}